
<div id="main">
	<div id="left_container">

		<div class="top_bar" id="logodiv">
			<a routerLink="/intro"><img class="appstorelogo" src="assets/icon-120p.jpg" alt="" /></a>
		</div>

		<nav class="menu_container">
			<a class="menu_topic" routerLink="/install" routerLinkActive="navActive">INSTALL</a>
			<a class="menu_topic" routerLink="/manage" routerLinkActive="navActive">MANAGE</a>

		</nav>

	</div>


<div id="right_container">

	<div class="top_bar" id="headerdiv">Spaceify Appstore</div>

	<div class="pagecontent">
		<router-outlet></router-outlet>
	</div>

</div>


</div>
