@charset "UTF-8";
#main {
    width: 100%;
}



#top_bar {
  background-color: #f2f2f2;
  width: 100%;
  height: 80px;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#logolink {
  float: left;
}

#appstorelogo {
  width: 115px;
  height: 80px;
}

#appstorelogo img {
  display:block;
  margin:auto;
}

#logoname {
  font-family: 'Roboto Light', sans-serif;
  float: left;
  padding-top: 19px;
  padding-bottom: 0px;
  font-size: 40px;
  padding-left: 15px;
  color: #1ca7ce;
}



#content_container {
  background-color: #fff;
  margin: 0px;
  padding: 0px;
}



#footer {
  font-family: 'Roboto Light', sans-serif;
  font-size: 1.1em;
  line-height: 1.7em;
  width: 100%;
  color: #fff;
  padding: 20px;
  padding-top: 10px;
}

#footer .smaller {
  font-size: 1em;
  line-height: 1.6em;
  color: #003b47;
}

