
<div id="main">
	<div id="top_bar" class="top_bar">
		<a id="logolink" class="logolink" routerLink="/intro"><img id="appstorelogo" class="appstorelogo" src="assets/icon-80p.png" alt="" /></a>
		<div id="logoname" class="logoname">Spaceify Appstore</div>
	</div>

	<div id="content_container">
		<router-outlet></router-outlet>
	</div>

	<div id="footer" class="footer">
		<div>Spaceify Appstore</div>
		<div class="smaller">
			Made with code and love. <img style="width: 16px; height: 16px;" src="./assets/heart_32x32.png" />
		</div>
	</div>
</div>
