
<nav class="menu_container">
	<a class="menu_topic" routerLink="/install" routerLinkActive="navActive">INSTALL</a>
	<a class="menu_topic" routerLink="/manage" routerLinkActive="navActive">MANAGE</a>

	<div id="search_bar" class="search_bar">
		<input type="search" id="search" placeholder="Search" #search (keyup.enter)="doSearch(search.value)">
	</div>
	<br class="menu_clear" />
</nav>

<div id="large_background" class="large_background large_background1">
	<div class="content">
		<h1>Easy to Manage</h1>
		<div>Spaceify Edge Platform can be easily managed from any device with a web browser.</div>
	</div>
</div>
<div class="large_background_footer">&nbsp;</div>

<div id="page_content" class="page_content">
	<div id="page_content_inner" class="page_content_inner">
		<applist [apps]="apps" [selectedMode]="selectedMode"></applist>
	</div>
</div>
