/* COMMON STYLE FOR ALL EDGE PAGES */
/*
body {
	margin: 0;
	padding: 0;
	background-color: #5fc4b4;
	font-family: Verdana, Arial, Helvetica, sans-serif, Roboto, 'Segoe UI Light_', 'Open Sans Light';
}
*/

html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	color: #888;
}

body, input[text], button {
	color: #888;
	background-color: #5fc4b4;
	font-family: Verdana, Arial, Helvetica, sans-serif, Roboto, 'Segoe UI Light_', 'Open Sans Light';
}

#edgeBody {
	color: #000;
}

	/* COMMON CONTAINERS FOR ALL PAGES -- -- -- -- -- -- -- -- -- -- */
.edgeContentContainer {
	width: 100%;
	background-color: #fff;
	margin: 0px;
	padding: 20px 10px 20px 10px;
	box-sizing: border-box;
}

.edgeContainer {
	position: relative;
	width: 100%;
	max-width: 850px;
	margin: 0 auto;
	box-sizing: border-box;
}

.edgeContainer.login {
	width: 400px;
	max-width: 400px;
	height: auto;
	padding: 1em 0;
	margin: 1em auto;
	border: 1px solid #ddd;
}

.edgeContainer.login.error {
	border: none;
	background-color:rgba(255, 0, 0, 0.5);
	padding: 5px;
	box-sizing: border-box;
	min-height: 40px;
	line-height: 40px;
	vertical-align: middle;
	text-align: center;
}

	/* -- -- -- -- -- -- -- -- -- -- */
.edgeH {
	margin: 0px;
	padding: 0px;
}
.edgeH.H1 { font-size: 2.0em; font-weight: normal; }
.edgeH.H2 { font-size: 1.8em; font-weight: normal; }
.edgeH.H3 { font-size: 1.5em; font-weight: normal; }
.edgeH.H4 { font-size: 1.3em; font-weight: normal; }
.edgeH.H5 { font-size: 1.1em; font-weight: normal; }
.edgeH.H6 { font-size: 1.0em; font-weight: normal; }

	/* TILE -- -- -- -- -- -- -- -- -- -- */
.edgeTile {
	float: left;
	display: inline;
	position: relative;
	margin: 0px 10px 10px 0px;
	padding: 0px;
	width: 302px;
	height: 152px;
	color: #000;
	cursor: pointer;
	overflow: hidden;
	visibility: visible;
	border-radius: 5px;
	box-sizing: border-box;
	border: solid 1px #ddd;
	background-color: #fff;
}

.edgeTileCenter {
	width: 302px;
	margin: 0 auto;
}

.edgeTile img {
	display: block;
	margin: 18px auto 9px auto;
}

.edgeText {
	margin: 0;
	padding: 0;
	width: 300px;
	text-align: center;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.edgeSubText {
	color: #888;
}

.edgeSmallInfo {
	color: #333;
	font-size: 80%;
	margin: 10px 0px 0px 0px;
}

	/* INFORMATION -- -- -- -- -- -- -- -- -- -- */
.edgeAlert {
	position: fixed;
	float: left;
	clear: both;
	width: auto;
	height: 1em;
	min-height: 1em;
	max-height: 1em;
	padding: 10px;
	margin: 0 0 5px 0;
	font-size: 100%;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	visibility: hidden;
	top: 0px;
	color: #000;
}
.edgeAlert.error {
	border: 1px solid rgb(255, 64, 64);
	background-color:rgba(255, 0, 0, 0.7);
}
.edgeAlert.success {
	border: 1px solid rgb(64, 255, 64);
	background-color:rgba(0, 255, 0, 0.7);
}

.edgeInfo {
	width: auto;
	height: auto;

	float: left;
	position: relative;
	margin: 10px 0px;
	padding: 10px;
	border-radius: 5px;
	box-sizing: border-box;
	border: solid 1px #ddd;
	background-color: #fff;

	color: #000;
	text-align: justify;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.edgeInfo.warning {
	box-sizing: border-box;
	border: 8px dashed rgb(255, 0, 0);
}
.edgeInfo.crtErr {
	box-sizing: border-box;
	margin: 0px 10px 0px 10px;
}

.edgeCertIframe {
	width: 0px;
	height: 0px;
	margin: 0;
	padding: 0;
	display: none;
	overflow: hidden;
}

	/* BUTTON -- -- -- -- -- -- -- -- -- -- */
.edgeButton {
	color: #000;
	cursor: pointer;
	float: left;
	width: 200px;
	height: 52px;
	line-height: 48px;
	font-size: 115%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-radius: 2px;
	text-align: center;
	background-color: #5FC3B4;
	border: 1px solid #A0A0A0;
	box-shadow: inset 1px 1px 2px #ddd8dc;
}
.edgeButton.normal
{
	clear: both;
	float: none;
	margin: 0px;
}
.edgeButton.inrow {
	margin: 0px 10px 10px 0px;
}
.edgeButton:hover {
	background-color: #6FD3C4;
}

	/* LOGIN -- -- -- -- -- -- -- -- -- -- */
.loginInput {
	margin: 0;
	padding: 0;
	height: 52px;
	line-height: 48px;
	font-size: 115%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.loginInput.wider {
	width: 100%;
}

.loginInputContainer {
	width: 100%;
	height: 100%;
	margin: 0 100px 1em 100px;
}
.loginInputContainer.zero
{
	margin: 0;
}

.loginLogo {
	width: 291px;
	height: 100px;
	white-space: nowrap;
	text-align: center;
	margin: 0 0 1em 50px;
}

.loginLogoHelper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.loginLogoImage {
	vertical-align: middle;
	max-width: 291px;
	max-height: 100px;
}
.loginLogoImage:hover {
	cursor: pointer;
}

	/* MISC -- -- -- -- -- -- -- -- -- -- */
.breaker {
	clear: both;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
}

/* t, r, b, l */
