/* Master Styles */

html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	color: #888;
}

body, input[text], button {
	color: #888;
	background-color: #5fc4b4;
	font-family: Verdana, Arial, Helvetica, sans-serif, Roboto, 'Segoe UI Light_', 'Open Sans Light';
}

h1 {
	color: #004896;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 250%;
	margin-top: 10px;
}

h2, h3 {
	color: #004896;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
}

p {
	color: #003772;
}

#loadingTemporary {
	width: 100%;
	height: 100%;
	background-color: #fff;
	padding: 2em;
	font-size: 1.5em;
}

.floatLeft {
	float: left;
}

.menu_container {
	background-color: #f2f2f2;
	padding-left: 20px;
	padding-bottom: 10px;
}

.menu_topic {
	float: left;
	width: 200px;
	display: block;
	box-sizing: border-box;
	padding: 1em;
	padding-bottom: 10px;
	padding-top: 10px;
	border: solid 1px #ccc;
	border-radius: 2px;
	font-size: 12px;
	text-decoration: none;
	color: #888;
}

.menu_topic:hover {
	text-decoration: none;
	background-color: #e2e2e2;
	border: solid 1px #bbb;
	color: #777;
}

.navActive {
	text-decoration: none;
	background-color: #d2d2d2;
	border: solid 1px #aaa;
	color: #666;
}

.search_bar {
	float: right;
	margin-right: 20px;
}

input#search {
	height: 36px;
	background-color: #fff;
	font-size: 15px;
	width: 400px;
	border: solid 1px #ccc;
	-webkit-appearance: none;
}

.menu_clear {
	clear: both;
	font-size: 0px;
	padding: 0px;
	margin: 0px;
	line-height: 0px
}

.large_background {
	color: #fff;
	background-color: #888;
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 300px;
	/*background-image: url(./assets/images/store_background1.jpg);*/
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left bottom;
	overflow: hidden;
}

/*
.large_background1 {
	background-image: url(./assets/images/store_background1-300p.jpg);
}

.large_background2 {
	background-image: url(./assets/images/store_background2-300p.jpg);
}
*/

.large_background h1 {
	font-size: 1.5em;
	color: #fff;
	font-style: normal;
	font-weight: 100;
	line-height: 1.3em;
	margin-bottom: 5px;
}

.large_background .content {
	font-size: 1.1em;
	padding: 3em;
	width: 30%;
	line-height: 1.6em;
}

.large_background_footer {
	width: 100%;
	height: 10px;
	background-color: #1aa8ce;
	padding: 0px;
	margin: 0px;
}

#page_content {
	background-color: #fff;
	color: #AB3C3E;
	width: 100%;
	margin: 0px;
	padding: 0px;
	padding-top: 20px
	padding-bottom: 20px;
}

#page_content_inner {
	padding: 0px;
	margin: 0px;
	margin-left: 20px;
	margin-right: 20px;
}

/* Top bar and footer */
.topBar {
	width: 100%;
	height: 80px;
	line-height: 80px;
	vertical-align: center;
	padding: 20px 0px 20px 0px;
	background-color: #f2f2f2;
}

.topBarLogoLink {
	float: left;
	margin-left: 40px;
}

.topBarLogoLink img {
	width: 115px;
	height: 80px;
	display: block;
	margin: auto;
}

.topBarPageLink {
	height: 80px;
	line-height: 80px;
	float: right;
	margin: auto 40px auto auto;
}

.topBarPageLink:hover {
	cursor: pointer;
}

.topBarPageLink img {
	width: 64px;
	height: 64px;
	display: block;
	margin: 8px auto auto auto;
	vertical-align: middle;
}

.topBarLogoText {
	font-family: 'Roboto Light', sans-serif;
	float: left;
	color: #1ca7ce;
	font-size: 40px;
	margin-left: 15px;
}

.footer {
	float: left;
	clear: both;
	font-family: 'Roboto Light', sans-serif;
	font-size: 1.0em;
	height: 32px;
	line-height: 32px;
	width: 100%;
	box-sizing: border-box;
	margin: 0px;
	padding: 4px 0px 0px 0px;
	vertical-align: middle;
	color: #003b47;
	font-weight: normal;
}

.footerContentLeft {
	float: left;
	clear: none;
	margin: 0px 0px 0px 10px;
	padding: 0px;
	height: 32px;
	line-height: 32px;
	vertical-align: middle;
}

/* * */
.serverMessages {
	width: 100%;
	margin-top: 1em;
	margin-bottom: 1em;
	max-height: 400px;
	overflow: auto;
	border-bottom: 1px solid rgb(205, 201, 201);
	line-height: 1.5em;
	padding-top: 0.5em;
	padding-bottom: 1em;
}

.serverMessageFail {
	color: #ee0500;
	font-weight: bold;
	/*color: #FF0000;*/
}

.serverMessageError {
	color: #660500;
	font-weight: bold;
	/*color: #FF0000;*/
}

.serverMessageWarning {
	color: #003b7c;
	font-weight: bold;
	/*color: #FFEF0D;*/
}

.serverMessageNotify {
	color: #003b7c;
	/*color: #003b7c;*/
}

.serverMessageMessage {
	color: #003b7c;
}

.serverMessageQuestion {
	color: #003b7c;
}

.serverMessageQuestionTimedOut {
	color: #003b7c;
}

.serverMessageEnd {
	color: #003b7c;
}

/*
 * See https://github.com/angular/angular.io/blob/master/public/docs/_examples/styles.css
 * for the full set of master styles used by the documentation samples
 */
